<div class="jumbotron">
  <p>{{main.title}}</p>
</div>
<div class="userInput">
  <label for="userText">Username</label>
  <input type="text" id="userText" ng-model="main.username" placeholder="Username">
  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" ng-click="main.resourceGet()">Get with Resource</button>
    <button type="button" class="btn btn-secondary" ng-click="main.resourceTransform()">Resource with Transform</button>
    <button type="button" class="btn btn-secondary" ng-click="main.httpGet()">Get with $http</button>
    <button type="button" class="btn btn-secondary" ng-click="main.httpTransformGet()">Transform $http</button>
  </div>
</div>
<div class="userData">
  {{main.currentUser | json}}
</div>
